@keyframes slide {
  0% { transform: translateX(-55%); }
  100% { transform: translateX(0%); }
}
div {
  height: 5px;
  width: 250%;
  background: linear-gradient(to right, red, yellow, green, blue, magenta, pink, red, yellow, green, blue, magenta, pink);
  animation: slide 2s 0s infinite linear; /* arg[1]: slide speed */
}

body { background-color: black; overflow:hidden; }
